!!! XML
!!!
%html
  %head
    %title My Bo
    %link{ :rel => 'stylesheet', :href => '/reset.css', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :href => '/bo.css', :type => 'text/css' }
    
  %body
    .header
      #sentence
        %p Hello I'm Fernando Guillen and I'm craftsman web developer
    = yield